# Número de WhatsApp para el formulario de asistencia
# Reemplazá el valor por el número real, por ejemplo: 5491123456789
PUBLIC_WHATSAPP_NUMBER=543757685481

# URL del Web App de Google Apps Script para guardar los RSVPs en Google Sheets
# Ejemplo: https://script.google.com/macros/s/ALPHA/exec
PUBLIC_RSVP_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwwnE3knecEN0fJwlWXddEgkPjvDxAKZbSFgHkXlDMYvhRu_Pb1v_aKJNe3IlHkROKo/exec
